* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif; }

header {
  background-color: #1f2235; }

#home {
  background-color: #24263b; }

header #menu-icon, #home #home-inner .social-container ul li:hover, .home-btns #play-intro, #contact:hover {
  cursor: pointer; }

#services, #about, #skills, #portfolio, #my-journey, #contact-us {
  padding-inline: 100px;
  padding-block: 84px; }

#sub-title p {
  font-size: 18px;
  color: white; }

header {
  display: flex;
  justify-content: space-between;
  padding-inline: 100px;
  align-items: center;
  height: 100px; }
  header .nav-container .nav-items {
    display: flex;
    justify-content: space-between; }
    header .nav-container .nav-items li {
      list-style: none;
      margin-left: 40px; }
      header .nav-container .nav-items li a {
        color: hwb(0 100% 0%);
        font-size: 18px;
        font-weight: 600;
        text-decoration: none; }
        header .nav-container .nav-items li a span {
          color: hwb(0 100% 0%); }
      header .nav-container .nav-items li a:hover {
        color: #ff4a57;
        transition: 0.5s; }
  header #brand-logo {
    width: 110px;
    height: 26px; }
  header #menu-icon {
    color: rgba(255, 255, 255, 0.633);
    font-size: 32px;
    display: none; }

#home {
  padding-inline: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 20px;
  padding-top: 40px; }
  #home figure img {
    max-width: 400px; }
  #home #home-inner {
    display: grid;
    grid-row-gap: 32px; }
    #home #home-inner .social-container ul {
      display: flex;
      justify-content: none; }
      #home #home-inner .social-container ul li {
        list-style: none;
        margin-right: 20px;
        padding: 10px;
        border: 2.5px solid #ff4a57;
        border-radius: 50%;
        transition: 0.5s; }
        #home #home-inner .social-container ul li a {
          text-decoration: none; }
          #home #home-inner .social-container ul li a span {
            color: white;
            font-size: 24px;
            border: 1px solid transparent; }
      #home #home-inner .social-container ul li:hover {
        background-color: #ff4a57;
        transition: 0.5s; }
    #home #home-inner #home-description {
      color: rgba(255, 255, 255, 0.633);
      font-size: 30px;
      font-weight: 400;
      line-height: 40px; }

#page-title {
  color: white;
  font-size: 58px;
  font-weight: 800; }

.home-btns {
  display: flex;
  align-items: center;
  grid-column-gap: 20px; }
  .home-btns #play-intro {
    color: hwb(0 100% 0%);
    font-size: 32px;
    padding: 0px;
    border: 2.5px solid #ff4a57;
    border-radius: 28px;
    background-color: #ff4a57;
    padding-inline: 40px;
    padding-block: 4px; }

#contact {
  padding: 0px;
  border: 2.5px solid #ff4a57;
  border-radius: 28px;
  padding-inline: 40px;
  padding-block: 12px;
  color: white;
  font-size: 18px;
  font-weight: 300;
  background-color: transparent;
  transition: 0.5s; }

#contact:hover {
  background-color: #ff4a57;
  transition: 0.5s; }

#title {
  color: white;
  font-size: 58px;
  font-weight: 800;
  margin-bottom: 24px; }

#sub-title p {
  line-height: 32px; }

.section-head {
  text-align: center; }
  .section-head #title-line {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px; }
    .section-head #title-line hr {
      border: 1px solid #ff4a57; }
  .section-head .hire-me {
    margin-top: 32px; }

#services {
  background-color: #1f2235; }
  #services .services-list {
    display: flex;
    justify-content: center;
    grid-gap: 32px;
    flex-wrap: wrap; }
    #services .services-list .service-item {
      height: 330px;
      width: 330px;
      display: inline-block;
      background-color: #24263b;
      color: white;
      border-radius: 20px;
      padding: 35px;
      transition: 0.5s; }
      #services .services-list .service-item #service-icon {
        color: #ff4a57;
        font-size: 52px;
        font-weight: 300;
        width: fit-content; }
      #services .services-list .service-item h3 {
        color: white;
        font-size: 22px;
        font-weight: 800; }
      #services .services-list .service-item p {
        color: white;
        font-size: 16px;
        font-weight: 300;
        line-height: 32px; }
    #services .services-list .service-item * + * {
      margin-top: 20px; }
    #services .services-list .service-item:hover {
      background-color: #ff4a57;
      transition: 0.5s;
      cursor: pointer; }
      #services .services-list .service-item:hover #service-icon {
        color: white;
        transform: rotateY(360deg);
        transition: 1.2s; }

#about {
  background-color: #24263b; }
  #about #about-content {
    display: flex;
    grid-column-gap: 72px;
    align-items: center; }
    #about #about-content figure {
      display: flex;
      justify-content: center; }
      #about #about-content figure img {
        min-width: 332px;
        max-width: 332px;
        width: 100%; }
    #about #about-content #about-info h5 {
      color: white;
      font-size: 26px;
      font-weight: 800;
      margin-bottom: 32px; }
    #about #about-content #about-info p {
      color: white;
      font-size: 16px;
      font-weight: 300;
      line-height: 30px; }
    #about #about-content #about-info #contact-info {
      display: flex;
      grid-column-gap: 150px;
      margin-top: 32px; }
    #about #about-content #about-info #name-phone label {
      color: #ff4a57;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 18px; }
    #about #about-content #about-info #name-phone div {
      margin-bottom: 32px; }
    #about #about-content #about-info #mail-linkdin label {
      color: #ff4a57;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 18px; }
    #about #about-content #about-info #mail-linkdin div {
      margin-bottom: 32px; }

#skills {
  background-color: #1f2235;
  display: flex;
  align-items: center;
  grid-column-gap: 72px; }
  #skills .section-head {
    flex-basis: 40%;
    text-align: left; }
  #skills #my-skills {
    flex-basis: 60%; }
    #skills #my-skills h4 {
      color: #ff4a57;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 32px; }
    #skills #my-skills .skill-list {
      display: grid;
      grid-row-gap: 24px; }
    #skills #my-skills .skill-item .skill-name {
      margin-bottom: 14px; }
      #skills #my-skills .skill-item .skill-name p {
        color: white;
        font-size: 16px;
        font-weight: 600; }
    #skills #my-skills .skill-item .skill-progress {
      width: 100%;
      max-height: 4px;
      background-color: #24263b; }
      #skills #my-skills .skill-item .skill-progress .actual-progress {
        background-color: #ff4a57;
        max-height: 4px; }
        #skills #my-skills .skill-item .skill-progress .actual-progress div {
          color: white;
          font-size: 16px;
          font-weight: 400;
          border: 2px solid white;
          padding: 4px 16px;
          border-radius: 10px;
          width: fit-content;
          margin-left: auto;
          transform: translateY(-110%); }
      #skills #my-skills .skill-item .skill-progress .actual-progress0 {
        width: 80%; }
      #skills #my-skills .skill-item .skill-progress .actual-progress1 {
        width: 70%; }
      #skills #my-skills .skill-item .skill-progress .actual-progress2 {
        width: 90%; }
      #skills #my-skills .skill-item .skill-progress .actual-progress3 {
        width: 60%; }
      #skills #my-skills .skill-item .skill-progress .actual-progress4 {
        width: 100%; }
      #skills #my-skills .skill-item .skill-progress .actual-progress5 {
        width: 90%; }

#portfolio {
  background-color: #24263b; }
  #portfolio #portfolio-category {
    display: flex;
    justify-content: center;
    margin: 32px 0px; }
    #portfolio #portfolio-category nav ul {
      display: flex;
      align-items: center;
      grid-column-gap: 16px; }
      #portfolio #portfolio-category nav ul li {
        list-style: none;
        border: 2px solid #ff4a57;
        width: fit-content;
        padding: 8px 16px;
        border-radius: 28px; }
        #portfolio #portfolio-category nav ul li a {
          color: white;
          font-size: 15px;
          font-weight: 600px; }
      #portfolio #portfolio-category nav ul li:hover {
        background-color: #ff4a57;
        transition: 0.5s;
        cursor: pointer; }
  #portfolio .designs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 30px; }
    #portfolio .designs img {
      width: 100%;
      height: 100%;
      border-radius: 16px; }
    #portfolio .designs figure {
      border-radius: 16px;
      display: flex;
      align-items: center; }
    #portfolio .designs figure:hover {
      cursor: pointer; }
    #portfolio .designs .image1 {
      grid-column: 1 / 2;
      grid-row: 1; }
    #portfolio .designs .image2 {
      grid-column: 2 / 3;
      grid-row: 1 / 3; }
    #portfolio .designs .image3 {
      grid-column: 3;
      grid-row: 1 / 2; }
    #portfolio .designs .image4 {
      grid-column: 1 / 2;
      grid-row: 2 / 3; }
    #portfolio .designs .image5 {
      grid-column: 2 / 3;
      grid-row: 3 / 6; }
    #portfolio .designs .image6 {
      grid-column: 3;
      grid-row: 2 / 4; }
    #portfolio .designs .image7 {
      grid-column: 1;
      grid-row: 3 / 6; }
    #portfolio .designs .image8 {
      grid-column: 3;
      grid-row: 4 / 6; }

#my-journey {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  flex-wrap: wrap;
  background-color: #1f2235; }
  #my-journey div {
    text-align: center; }
    #my-journey div span {
      color: hwb(0 100% 0%);
      font-size: 62px;
      font-weight: 300;
      margin-bottom: 32px; }
    #my-journey div p {
      color: #ff4a57;
      font-size: 52px;
      font-weight: 300;
      font-weight: 700;
      margin-top: 32px; }
    #my-journey div .journey-title {
      color: hwb(0 100% 0%);
      font-size: 20px;
      font-weight: 300; }

#contact-us {
  background-color: #24263b; }
  #contact-us #contact-info-list {
    display: flex; }
    #contact-us #contact-info-list .contact-item {
      background-color: #1f2235; }

@media (max-width: 990px) {
  header {
    padding-inline: 32px; }
    header .nav-container {
      display: none; }
    header #menu-icon {
      display: block; }

  #home {
    padding-inline: 32px;
    padding-inline: 32px;
    padding-block: 100px; }
    #home figure img {
      display: none; }

  #services {
    padding-inline: 32px; }

  #about {
    padding-inline: 32px; }
    #about #about-content {
      flex-wrap: wrap; }
      #about #about-content figure {
        flex-basis: 100%;
        margin-bottom: 32px; }

  #skills {
    padding-inline: 32px;
    flex-wrap: wrap; }
    #skills .section-head {
      flex-basis: 100%; }
    #skills #my-skills {
      flex-basis: 100%;
      margin-top: 32px; }

  #portfolio {
    padding-inline: 32px; }
    #portfolio nav ul {
      grid-column-gap: 8px;
      flex-wrap: wrap; }
      #portfolio nav ul li {
        margin-top: 8px; }
    #portfolio .designs {
      grid-gap: 10px; }

  #my-journey {
    grid-template-columns: repeat(2, 3fr);
    grid-row-gap: 64px; } }
@media (max-width: 700px) {
  header, #home {
    padding-inline: 32px; }

  #home #home-inner {
    text-align: center; }
    #home #home-inner .social-container {
      display: flex;
      justify-content: center; }
    #home #home-inner .home-btns {
      display: flex;
      justify-content: center; }

  #my-journey {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 124px; } }
@media (max-width: 500px) {
  header, #home {
    padding-inline: 8px; } }

/*# sourceMappingURL=main.css.map */
