// colors
$primary-color:#1f2235;
$on-primary-color:hwb(0 100% 0%);
$secondary-color:#24263b;
$on-secondary-color:#ff4a57;


$font-weight-default:normal;
$paragraph-size:24px;
$nav-menu-size:34px;
$icon-size:34px;

$text-section-title:30px;

$text-main-size:18px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

@mixin nav-text($nav-text){
    color: $on-primary-color;
    font-size: 18px;
    font-weight:600;
    text-decoration: none;
}



%background-one{
    background-color: $primary-color;
}

%background-two{
    background-color: $secondary-color;
}

%paragraph-styles-shared{
    color: $on-primary-color;
    font-size:$paragraph-size;
    font-weight: $font-weight-default;
}


@mixin flex-container($justifyContent:space-between){
    display: flex;
    justify-content: $justifyContent;
}

@mixin icon($iconColor:white, $iconSize:34px){
    color: $iconColor;
    font-size: $iconSize;
}

@mixin icon-border($iconPadding:0px, $iconBorder:1px solid black, $iconRadius:0px){
    padding: $iconPadding;
    border: $iconBorder;
    border-radius:$iconRadius;
}

@mixin text-style($textColor:white, $textSize:24px, $textWeight:300){
    color: $textColor;
    font-size: $textSize;
    font-weight: $textWeight;
}


@mixin page-padding($pagePadding:100px){
    padding-inline: $pagePadding;
}

%pointer-shared{
    cursor: pointer;
}

@mixin anim-transition($transitionTime:0.5s){
    transition:$transitionTime;
}

%padding-section-shared{
    @include page-padding();
    padding-block: 84px;
}

%main-text-size{
    font-size:$text-main-size;
    color: white;
}

// header begins here 

header{
    @extend %background-one;
    @include flex-container();
    @include page-padding();
    align-items: center;
    height: 100px;

    .nav-container{

        .nav-items{
            @include flex-container();

            li{
                list-style: none;
                margin-left: 40px;
                a{
                    @include nav-text(nav-text);
                    span{
                        color: $on-primary-color;
                    }
                };
                a:hover{
                    color: $on-secondary-color;
                    @include anim-transition()
                } 
            }
        }
    }

    #brand-logo{
        width: 110px;
        height: 26px;
    }

    #menu-icon{
        @include icon($iconSize:32px, $iconColor:rgba(255, 255, 255, 0.633));
        @extend %pointer-shared;
        display: none;
    }

   
}

#home{
    @extend %background-two;
    @include page-padding();
    @include flex-container();
    align-items: center;
    grid-column-gap: 20px;
    padding-top: 40px;
    figure{
        img{
            max-width: 400px;
        }
    }
    #home-inner{
       display: grid;
       grid-row-gap: 32px;

       .social-container{
            ul{
                @include flex-container($justifyContent:none);
                li{
                    list-style: none;
                    margin-right: 20px;
                    @include icon-border($iconBorder:2.5px solid $on-secondary-color, $iconPadding:10px, $iconRadius:50%);
                    @include anim-transition();
        
                    a{
                        text-decoration: none;
                        span{
                            @include icon($iconSize:24px);
                            border: 1px solid transparent;
                        }
                    };
                    
                };
                li:hover{
                    background-color: $on-secondary-color;
                    @include anim-transition();
                    @extend %pointer-shared
                }
            }
        }

        #home-description{
            @include text-style($textSize:30px, $textWeight:400, $textColor:rgba(255, 255, 255, 0.633));
            line-height: 40px;  
        }

    }

}



#page-title{
    @include text-style($textSize:58px, $textWeight:800)
}



.home-btns{

    display: flex;
    align-items: center;
    grid-column-gap: 20px;

    

    #play-intro{
        @include icon($iconSize:32px, $iconColor:$on-primary-color);
        @include icon-border($iconBorder:2.5px solid $on-secondary-color, $iconRadius:28px);
        background-color: $on-secondary-color;
        padding-inline:40px;
        padding-block: 4px;
        @extend %pointer-shared
    }
    

};



#contact{
    @include icon-border($iconBorder:2.5px solid $on-secondary-color, $iconPadding:0px, $iconRadius:28px);
    padding-inline:40px;
    padding-block: 12px;
    @include text-style($textSize:18px,);
    background-color:transparent;
    @include anim-transition();
}

#contact:hover{
    background-color: $on-secondary-color;
    @include anim-transition();
    @extend %pointer-shared
}


#title{
    @include text-style($textSize:58px,$textColor:white , $textWeight:800 );
    margin-bottom: 24px;
}

#sub-title{
    p {
        @extend %main-text-size;
        line-height: 32px;
    }
}

.section-head{
    text-align: center;
    #title-line{
        display: flex;
        justify-content: center;
        margin-top: 48px;
        margin-bottom: 48px;
        hr{
            border: 1px solid $on-secondary-color
        }
    }
    .hire-me{
        margin-top: 32px;
    }
}


#services{
    background-color: $primary-color;
    @extend %padding-section-shared;
  
    .services-list{
        display: flex;
        justify-content: center;
        grid-gap: 32px;
        flex-wrap: wrap;
        .service-item{
            height: 330px;
            width: 330px;
            display: inline-block;
            background-color: $secondary-color;
            color: white;
            border-radius: 20px;
            padding: 35px;
            #service-icon{
                @include text-style($textSize:52px, $textColor:$on-secondary-color);
                width: fit-content;
            }
            h3{
               @include text-style($textSize:22px,$textWeight:800 )
            }
            p{
                @include text-style($textSize:16px, $textColor:white );
                line-height: 32px;
            }
            @include anim-transition()
        }
        .service-item * + *{
            margin-top: 20px;
        }
        .service-item:hover{
            background-color: $on-secondary-color;
            @include anim-transition();
            cursor: pointer;
            #service-icon{
                color: white;
                transform: rotateY(360deg);
                @include anim-transition($transitionTime:1.2s)
            }
              
        }

    }
}

#about{
    background-color: $secondary-color;
    @extend %padding-section-shared;
    #about-content{
        display: flex;
        grid-column-gap: 72px;
        align-items: center;
        figure{
            display: flex;
            justify-content: center;

            img{
                min-width: 332px;
                max-width: 332px;
                width: 100%;
            }
        }

        #about-info{
            h5{
                @include text-style($textColor:white, $textWeight:800, $textSize:26px );
                margin-bottom: 32px;
            }
            p{
                @include text-style($textSize:16px);
                line-height: 30px;
            }
            #contact-info{
                display: flex;
                grid-column-gap: 150px;
                margin-top: 32px;
            }
            #name-phone{
                label{
                    @include text-style($textSize:16px, $textColor:$on-secondary-color, $textWeight:600);
                    margin-bottom: 18px;
                }
                
                div{
                    margin-bottom: 32px;
                }
            }
            
            #mail-linkdin{
                label{
                    @include text-style($textSize:16px, $textColor:$on-secondary-color, $textWeight:600);
                    margin-bottom: 18px;
                }

                div{
                    margin-bottom: 32px;
                }
            }
        }
       
    }
}

#skills{
    background-color: $primary-color;
    @extend %padding-section-shared;
    display: flex;
    align-items: center;
    grid-column-gap: 72px;
    .section-head{
        flex-basis: 40%;
        text-align: left;
    }
    
    #my-skills{
        flex-basis: 60%;
        h4{
            @include text-style($textSize:20px, $textWeight:700, $textColor:$on-secondary-color);
            margin-bottom:32px;
        }

        .skill-list{
            display: grid;
            grid-row-gap: 24px;
        }

        .skill-item{
            // border: 1px solid white;
            .skill-name{
                margin-bottom: 14px;
                p{
                    @include text-style($textSize:16px, $textWeight:600, $textColor:white);
                }
                
            }
            .skill-progress{
                width: 100%;
                max-height: 4px;
                background-color: $secondary-color;
                .actual-progress{
                    background-color: $on-secondary-color;
                    max-height: 4px;
                    div{
                        @include text-style($textSize:16px, $textWeight:400, $textColor:white);
                        border: 2px solid white;
                        padding: 4px 16px;
                        border-radius: 10px;
                        width: fit-content;
                        margin-left: auto;
                        transform: translateY(-110%);
                    }
                }

                .actual-progress0{
                    width: 80%;
                }
                .actual-progress1{
                    width: 70%;
                }
                .actual-progress2{
                    width: 90%;
                }
                .actual-progress3{
                    width: 60%;
                }
                .actual-progress4{
                    width: 100%;
                }
                .actual-progress5{
                    width: 90%;
                }
                
            }
        }
    }
}

#portfolio{
    background-color: $secondary-color;
    @extend %padding-section-shared;

    #portfolio-category{
        display: flex;
        justify-content: center;
        margin: 32px 0px;
        nav{
            ul{
                display: flex;
                align-items: center;
                grid-column-gap: 16px;
                li{
                    list-style: none;
                    border: 2px solid $on-secondary-color;
                    width: fit-content;
                    padding: 8px 16px;
                    border-radius: 28px;
                    a{
                        @include text-style($textSize:15px, $textColor:white, $textWeight:600px)
                    }
                }
                li:hover{
                    background-color: $on-secondary-color;
                    @include anim-transition();
                    cursor: pointer;
                }
            }
        }
        
    }

    .designs{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 30px;

        img{
            width: 100%;
            height: 100%;
            border-radius: 16px;
        }
        figure{
            border-radius: 16px;
            display: flex;
            align-items: center;
        }
        figure:hover{
            cursor: pointer;
        }

        .image1{
            grid-column: 1 / 2;
            grid-row: 1 ;
        }
        .image2{
            grid-column: 2 / 3;
            grid-row: 1 / 3;
        }
        .image3{
            grid-column: 3;
            grid-row: 1 / 2;
        }
        .image4{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        .image5{
            grid-column: 2 / 3;
            grid-row: 3 / 6;
        }
        .image6{
            grid-column: 3;
            grid-row: 2 / 4;
        }
        .image7{
            grid-column: 1;
            grid-row: 3 / 6;
        }
        .image8{
            grid-column: 3;
            grid-row: 4 / 6;
        }
    }
}

#contact-us{
    background-color: $primary-color;
    @extend %padding-section-shared;
}





@media (max-width:990px) {
    header{
        .nav-container{
            display: none;
        }
        #menu-icon{
            display: block;
        }
        @include page-padding($pagePadding:32px);
    }
    #home{
        @include page-padding($pagePadding:32px);
        padding-inline: 32px;
        padding-block: 100px;
        figure{
            img{
                display: none;
            }
        }
    }
    #services{
        padding-inline: 32px;
    }
    #about{
        padding-inline: 32px;
        #about-content{
            flex-wrap: wrap;

            figure{
                flex-basis: 100%;
                margin-bottom: 32px;
            }
        }
    }
    #skills{
        padding-inline: 32px;
        flex-wrap: wrap;
        .section-head{
            flex-basis: 100%;
        }
        #my-skills{
            flex-basis: 100%;
            margin-top: 32px;
        }
    }
    #portfolio{
        nav{
            ul{
                grid-column-gap: 8px;
                flex-wrap: wrap;
                li{
                    margin-top: 8px;
                }
            }
        }
        padding-inline: 32px;
        .designs{
            grid-gap: 10px;
        }
    }
    
}

@media (max-width:700px){
    header, #home{
        @include page-padding($pagePadding:32px);
    }
    #home{
        #home-inner{
            text-align: center;
            .social-container{
                @include flex-container($justifyContent:center)
            }
            .home-btns{
                @include flex-container($justifyContent:center)
            }
        }
    }
}

@media (max-width:500px){
    header, #home{
        @include page-padding($pagePadding:8px);
    }
}

